* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px;
  color: black;
  font-size: x-large;
  font-weight: BOLD;
  position:FIXED;
  background-color: #FFFFFF;
  width: 98vw;

}

.nav-links {
  display: flex;

}

.nav-links > li {
  list-style: none;
  ;
}

.nav-links > li > a {
  text-decoration: none;
  margin: 20px;
  font-size:smaller;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',light;
  color: black;
  position: relative;
  
}

.logo {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

.background {
  background-color: #EBEDEF;
  height: 200vh;
  width: 99vw;
  background-repeat:  no-repeat;
  background-size: cover ;
  padding-top: 6vh;
}

.menu-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gmcbat{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
  text-decoration: none;
  color:black;
margin-right: 20px;
}

.background > img {
  width: 20% ;
  padding: 1%;
}

.active {
  position: relative;
}

.active::before {
  background-color:black;
  height: 2px;
  content:"";
  position: absolute;
  bottom: -4px;
  left: 0%;
  width: 100%;
  transition: 0.2;
}

.nav-links > li > a::after {
  background-color:black;
  height: 2px;
  content:"";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  transition: 0.2;
}

.nav-links > li > a:hover::after {
  background-color: black;
  width: 100%;
  transition: 0.3s;
}

.background .mah {
  margin: 50px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xX-large;
  font-weight: lighter;

}

.background .CONC {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: xx-large;
}